/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.top{
    background-color: red;
    text-align: center;
    color: white;
    padding: 30px;
}

.top h1{
    border-width: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 35px;
    display: inline-block;
    padding: 15px;
}

.navbar{
    background-color: grey;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 150px;
    text-decoration:none;

}
.main-content{
    margin: 60px;
}
.main-content h1{
    color: red;
    font-size: 50px;
    text-align: center;
    
}
.main-content p{
    font-size: 35px;
    text-align: justify;
}

.bottom{
    background-color: grey;
    font-size: 30px;
    text-align: center;
    padding: 40px;
    color: white;
}
    h1{
        text-align: center;
        font-size: 30px;
    }
    h2{
        color: red;
        text-align: center;
    }

    h1{
        text-align: center;
    }

    img {
    display: block;
    margin: auto;
    }   

    .banner-image{
        border-bottom: 8px red solid;
    }

    .friends-heading {
        margin-top: 25px;
        color: red;
        font-size: 40px;
    }

    .friends-subheading {
        font-size: 30px;
        text-align: center;
    }

    .bottom{
        background-color: grey;
        font-size: 30px;
        text-align: center;
        padding: 40px;
        color: white;
    }

    /* Character Styles */
    .characters-container {
        margin: 100px;
    }

    .character-box {
        background-color: lightgrey;
        padding: 25px;
        border-radius: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .character-title {
        font-size: 30px;
    }

    .character-description {
        font-size: 30px;
        line-height: 60px;
        text-align: justify;
    }
    
    .images {
    text-align: center;
    }

    .collect-coin {
        display: inline;
        width: 45%;
        border-bottom: red 8px solid;
        margin: 10px;
    }